@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen&display=swap');

body {
  background-image: url('./images/space.png');
  background-size: 540px 756px;
  background-color: #000000;
  animation: scrollBackground 40s linear infinite;
  margin: 16px;
  padding: 0px;
  color: #ffffff;
  text-align: center;
  image-rendering: pixelated;
  font-family: 'DotGothic16', sans-serif;
  margin-top: calc(10vh + 5vw);
}

.narrowblock {
  font-family: 'Silkscreen', sans-serif;
  font-size: 14px;
  width: clamp(0px, 400px, 75%);
  margin: 24px auto;
  text-align: left;
  padding-left: 8px;
  border-right: white 1px solid;
}

.emphasis {
  color: rgb(255, 177, 249);
}

@keyframes scrollBackground {
  from { background-position: 0 0; }
  to { background-position: 0 756px; }
}

.nickname .subtitle {
  margin: 16px;
  padding: 0px;
}

.nickname {
  letter-spacing: 8px;
  font-size: 48px;
  color: #61b3ff;
  transform: translateX(4px);
  margin-top: 0;
  margin-bottom: 32px;
}

.subtitle {
  letter-spacing: 2px;
  font-size: 16px;
  color: white;
  transform: translateX(2px);
  font-family: 'Silkscreen', sans-serif;
  margin-bottom: 0;
}

img.flower {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: auto;
  image-rendering: pixelated;
}

.socials-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-button {
  margin: 8px 16px;
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  transition: border 0.1s linear, transform 0.1s linear;
  text-decoration: none;
  border: rgb(0, 89, 255, 0) 1px solid;
  font-family: 'Silkscreen', sans-serif;
}

.social-button:hover {
  border: white 1px solid;
  transform: scale(1.075);
}

@media (min-width:641px)  {
.socials-container {
  flex-direction: row;
}
}