@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Libre+Barcode+128+Text&display=swap');

body {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  text-align: center;
}

.title, .barcode {
  padding: 0px;
  margin: 16px;
}

.title {
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 8px;
  font-size: 24px;
}

.barcode {
  font-family: 'Libre Barcode 128 Text', sans-serif;
  color: #e02030;
  font-size: 32px;
}

img.cat {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 256px;
    height: 256px;
}
