@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
}

img.cat {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 256px;
    height: 256px;
}
