.narrowblock {
    font-family: 'Silkscreen', sans-serif;
    font-size: 14px;
    width: clamp(0px, 400px, 80%);
    margin: 24px auto;
    text-align: left;
}

.emphasis {
    color: rgb(255, 177, 249);
}


.title .subtitle {
    margin: 16px;
    padding: 0px;
}

.title {
    letter-spacing: 8px;
    font-size: 32px;
    color: #61b3ff;
    transform: translateX(4px);
    margin-top: 0;
    margin-bottom: 32px;
}

.subtitle {
    letter-spacing: 2px;
    font-size: 16px;
    color: white;
    transform: translateX(2px);
    font-family: 'Silkscreen', sans-serif;
    margin-bottom: 0;
}

img.flower {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    height: auto;
    image-rendering: pixelated;
}